<div *ngIf="dataLoaded==false" class="d-flex justify-content-center">
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>

<ul *ngIf="dataLoaded==true" class="list-group bg-dark-gray">
    <li (click)="unsetCurrentCarsColor()" routerLink="/cars" [class]="getAllCarsColorClass()">Filtreyi Kaldır</li>
    <li (click)="setCurrentCarsColor(color)" routerLink="/cars/color/{{color.colorId}}" *ngFor="let color of colors"
        [class]="getCurrentCarsColorClass(color)">
        {{color.colorName}}
    </li>
</ul>