<div *ngIf="dataLoaded==false" class="d-flex justify-content-center">
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>

<ul *ngIf="dataLoaded==true" class="list-group bg-dark-gray">
    <li (click)="unsetCurrentCarsBrand()" routerLink="/cars" [class]="getAllCarsBrandClass()">Filtreyi Kaldır</li>
    <li (click)="setCurrentCarsBrand(brand)" routerLink="/cars/brand/{{brand.brandId}}" *ngFor="let brand of brands"
        [class]="getCurrentCarsBrandClass(brand)">
        {{brand.brandName}}
    </li>
</ul>