<div *ngIf="dataLoaded==false" class="d-flex justify-content-center">
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>
<table *ngIf="dataLoaded==true" class="table table-secondary table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Müşteri</th>
            <th>Email Adresi</th>
            <th>Araç</th>
            <th>Marka</th>
            <th>Renk</th>
            <th>Şirket</th>
            <th>Kirlanan Gün</th>
            <th>İade Edilen Gün</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let rentalDetail of rentalDetails">
            <td>{{rentalDetail.rentalId}}</td>
            <td>{{rentalDetail.customerFirstName}} {{rentalDetail.customerLastName}}</td>
            <td>{{rentalDetail.emailAddress}}</td>
            <td>{{rentalDetail.carName}}</td>
            <td>{{rentalDetail.carBrand}}</td>
            <td>{{rentalDetail.carColor}}</td>
            <td>{{rentalDetail.companyName}}</td>
            <td>{{rentalDetail.rentDate}}</td>
            <td>{{rentalDetail.returnDate}}</td>
        </tr>
    </tbody>
</table>