<div *ngIf="dataLoaded==false" class="d-flex justify-content-center">
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>

<table *ngIf="dataLoaded==true" class="table table-secondary table-hover">

    <thead>
        <tr>
            <th>Araba Adı</th>
            <th>Araba Markası</th>
            <th>Araba Rengi</th>
            <th>Araba Günlük Fiyatı</th>

        </tr>
    </thead>


    <tr *ngFor="let carDetail of carsDetail">
        <img src="{{imageUrl}}/{{carDetail.imagePath}}" alt="..." class="img-fluid img-thumbnai"
            style="width: 200px;height: 150px;">
        <td>{{carDetail.carName}}</td>
        <td>{{carDetail.brandName}}</td>
        <td>{{carDetail.colorName}}</td>
        <td>{{carDetail.dailyPrice}}₺</td>
        <button (click)="setCurrentCar(currentCar)" routerLink="cars/carDetail/{{carDetail.carId}}" type="button"
            class="btn btn-dark">İncele
        </button>
    </tr>

</table>

<app-car-details *ngIf="carLoaded==true"></app-car-details>